* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #101218;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
}

h2 {
    color: #ECECEC;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 22px;
}

.cabecalho {
    margin: 50px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    color: #EEF0FF;
    font-size: 28px;
}

.link {
    font-size: 14px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.classificacao, .gols, .assistencias {
    margin-top: 20px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

th {
    font-weight: 400;
    font-size: 12px;
    color: #999DA9;
}

td {
    border-top: 1px solid;
    color: #BDC1C6;
}

.clube {
    text-align: left;
}

.classificacao img, .gols img, .assistencias img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.result img {
    width: 22px;
    height: 22px;
}

.w-10 {
    width: 10px;
}

.w-25 {
    width: 25px;
}

.bl-blue {
    border-left: 3px solid #4285f4;
}

.bl-orange {
    border-left: 3px solid #FA7B17;
}

.text_left {
    text-align: left;
}